body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*-------------------------------------------MY STYLING BELOW-------------------------------------------------------*/
/*-------------------------------------------STYLING FOR ALL PAGES-------------------------------------------------------*/
#mhlogo{
    height:20px;
}
.row{
    margin:0;
}
#allcontent{
    margin:0;
    padding:0;
}
#bgimg {
z-index:-1;
width:100%;
height:100%;
position:fixed;
}
#logo{
    height:8vw;
    max-height:80px;
    background-color:white;
}
.navbar-expand-md{
    background-color:cornflowerblue;
    display:flex;
    justify-content:space-between;
}
#navitem >a{
    margin-right:4vw;
    color:black;
 
}
footer{
    background-color:white;
    margin:0;
    padding:0;
    height:100%;
}
body{
    height:auto;
    margin:0;
    padding:0;
}
/*-------------------------------------------STYLING INDEX  HOME PAGE-------------------------------------------------------*/

.topimageindex {
    background-image: url('../Images/newyorkimg.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
    margin:0;
}
#indexheadertext {

    color:white;
}
.indexrow2{

    justify-content:center;
}
#indexrow2header{
    padding:2vw;
}
.indexrow3{
    height:auto;
    background-color:white;
    overflow:hidden;
}
.indexrow3col{
    background-color:whitesmoke;
    box-shadow: 5px 5px 5px black;
    height:auto;
    margin:2vw;
    overflow:hidden;
    display:flex;
    justify-content:space-between;;
    flex-direction:column;
    font-size:1rem;
}
#indexrow3img{
    border:5px solid wheat;
    height:20vw;
}
/*-------------------------------------------STYLING INDEX REVIEW PAGE-------------------------------------------------------*/
#reviewindexcreate{

}
.rolodex{
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
flex-direction:row;
}
.carda {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20vw;
    margin: 1vw;
    min-width: 200px;
    background-color: whitesmoke;
}
.carda > img{
    width:100%;
}

    .carda:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.cardtext {
    padding: 2px 16px;
}

/*-------------------------------------------STYLING DETAILS REVIEW PAGE-------------------------------------------------------*/
.reveiwdetailheader {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AcmeFont;
    background-color: whitesmoke;
}

.reveiwdetailimg > img {
    width: 100%;
    border: solid 20px black;
}
.reveiwdetaildetails{
    background-color:whitesmoke;
}
.reveiwdetaildetailstext{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#reveiwdetaillinks {
    display: flex;
    justify-content: center;
    align-items: center;
}