@{
    ViewBag.Title = "Home Page";
}

<!--header content under navbar-->

<div class="row topimageindex">
    <div class="container">
	<div class="row">
        <div class="col-md-6">
    		<h2 id="indexheadertext">The Reviews You Need</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Dozen's of Reviews" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
</div>
<div class="row indexrow2">
    <h1 id="indexrow2header">Lorem Ipsum</h1>
</div>
<div class="row indexrow3">
    <div class="col indexrow3col">
        <img id="indexrow3img" src="~/Images/travelmap.jpg" />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col indexrow3col">
        <img id="indexrow3img" src="~/Images/food.jpg" />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col indexrow3col">
        <img id="indexrow3img" src="~/Images/sightsee.jpg" />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
